{% extends "base.html" %}

{% block content %}
<h3 class="title">Login</h3>
<div class="box">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
            </div>
    {% endif %}
    {% endwith %}
    
    <form method="POST" action="/login">
        {{form.username.label}}<br>
        {{form.username}}<br>
        {{form.password.label}}<br>
        {{form.password}}<br>
        {{form.remember}}
        {{form.remember.label}}<br>
        {{form.submit}}
    </form>
</div>
{% endblock %}