html {
    background-color: #98d6a9;
    text-align: center;
}

.button {
  background-color: #4fc9a0;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

form > * {
    margin: 6px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c5c96f;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr {
  border-bottom: 1px solid #ddd;
}